body {
    margin: 0px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerFlex {
    background-color: rgb(184, 184, 184);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.logo {
    background-color: #808080;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    background-color: #d3d3d3;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    background-color: r#a9a9a9;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    background-color: rgba(54, 54, 54, 0.753);
    border-radius: 5px 5px 5px 5px;
    padding: 5px 15px 5px 15px;
    color: white;
    font-weight: bolder;
}



.slider {
    background-color: yellow;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.articlesFlex {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.articles {
    background-color: grey;
    width: calc(100%/3);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.articles:nth-child(2n+1) {
    background-color: rgb(255, 255, 255);
}

.articles:nth-child(2n) {
    background-color: rgb(202, 202, 7);
}

.footer {
    background-color: rgb(83, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

@media screen and (max-width: 800px) {

.articles {
    width:  calc(100%/2);
}

.navigation {
    width: 80%;
   
}

.socials {display: none;
}

.logo {
    width: 20%;
    
}



    
    
  }

 